# Imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [3]:
from pycaret.regression import *

In [4]:
df = pd.read_csv("../../data/train.csv").drop(columns=["casual", "registered"])

In [5]:
date_mask = ((df["datetime"]>= "2012-09-01") & (df["datetime"] <= "2012-12-31"))

# X_train = df[~date_mask].drop(["count", "datetime"], axis=1)
# y_train = df[~date_mask]["count"]

# X_test = df[date_mask].drop(["count", "datetime"], axis=1)
# y_test = df[date_mask]["count"]
train =  df[~date_mask]
test = df[date_mask]

In [ ]:
exeperiment = setup(data=train, target="count")

In [ ]:
best = compare_models()

In [ ]:
# evaluate_model(best)

In [ ]:
lgbm = create_model("lightgbm")

In [ ]:
tuned_model = tune_model(lgbm)

In [ ]:
# predictions with tuned model (need to split data before)
preds = predict_model(tuned_model, data=test)

In [ ]:
preds

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,Label
9063,2012-09-01 00:00:00,3,0,0,1,30.34,34.090,62,7.0015,168,184.492980
9064,2012-09-01 01:00:00,3,0,0,1,29.52,34.850,74,8.9981,79,96.603769
9065,2012-09-01 02:00:00,3,0,0,1,28.70,32.575,70,11.0014,69,62.657168
9066,2012-09-01 03:00:00,3,0,0,1,28.70,32.575,70,7.0015,35,55.234938
9067,2012-09-01 04:00:00,3,0,0,1,28.70,32.575,70,0.0000,12,31.765949
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,336,253.858976
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,241,166.742970
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,168,134.598279
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,129,116.518236
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,88,53.096543

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
def eval_metrics(actual, pred):
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    r2 = r2_score(actual, pred)
    return mae, np.sqrt(mse), r2

mae, rmse, r2 = eval_metrics(test["count"], preds["Label"])
print(f"MAE: {mae}\nRMSE: {rmse}\nR2: {r2}")

MAE: 92.82026465940262
RMSE: 126.89535023209746
R2: 0.6532906788994093

Note : Score is bad because of intial split